<article class="container">
    <section class="row">
        <aside class="col-md-3 text-center">
            <photo [name]="getProfile().name" [picture]="getProfile().photo" [job]="getProfile().job"></photo>
        </aside>
        <article class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body publish">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <a href="#">Compartilhe seus artigos ou mensagem</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body publish">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet orci non tortor sagittis vehicula sed vel lorem. Vestibulum pellentesque orci eu faucibus rhoncus. Donec sit amet aliquet urna, eu laoreet metus. Integer lacus arcu, venenatis non gravida ut, iaculis quis lorem. In in pellentesque sapien. Vestibulum a cursus dolor. Quisque scelerisque at velit id ultricies. Quisque ornare viverra tempor. Nam accumsan, libero nec volutpat facilisis, urna ante sodales ipsum, elementum tempor magna turpis sit amet elit. Aenean suscipit justo ac metus semper, non luctus neque convallis. Nullam nec libero ut neque semper cursus. Nunc dictum posuere finibus. Nulla vel enim bibendum, faucibus augue id, lobortis sapien. Nulla non dignissim arcu.
                </div>
            </div>
        </article>
        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    Adds
                </div>
            </div>
        </aside>
    </section>
</article>