<article class="container">
    <section class="row">
        <div class="jumbotron">
            <div class="img-circle-height">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/Harry-Potter-1-.jpg" alt="" class="clip-circle">
            </div>
            <div class="panel-identification">
                <div class="username">
                    Rafael Tomé de Souza
                    <a href="form-profile.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
                <div class="job-description">Analista de desenvolvimento</div>
            </div>
            <div>
                <div class="username">Resumo</div>
                <div class="job-description panel-identification">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus quis urna id auctor. Etiam magna erat, varius et tincidunt
                    in, dignissim ut ligula. Donec vitae neque molestie, aliquet ex in, consequat erat. Fusce auctor
                    auctor ex, vel commodo ex fermentum quis. Vivamus id dolor vehicula, ultricies mi semper, porta enim.
                    Nam ut urna vitae arcu consequat posuere. Ut dolor dui, tempor sed odio at, vestibulum consequat
                    enim. Praesent tincidunt tempor ipsum a finibus. Maecenas varius, nunc ac posuere condimentum, eros
                    ante porttitor tortor, ut dapibus est leo eu ante. Curabitur eu lacinia purus. Ut et sem elementum,
                    viverra arcu ac, egestas lectus. Quisque ultrices dolor interdum, elementum ex non, faucibus urna.
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Experiência</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Formação Acadêmica</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Competências</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Conquistas</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Idioma</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>