<article class="container">
    <section>
        <div class="jumbotron">
            <div class="img-circle-height">
                <img src="{{profile.photo}}" alt="" class="clip-circle">
            </div>
            <div class="panel-identification">
                <div class="username">
                    {{profile.name}}
                    <a routerLink="/profile-update/{{id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
                <div class="job-description">{{profile.job}}</div>
            </div>
            <div>
                <div class="username">Resumo</div>
                <div class="job-description panel-identification">
                    {{profile.minibiography}}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Experiência</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Formação Acadêmica</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Competências</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Conquistas</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Idioma</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>