<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" (click)="goToHome($event)">LinkedIn</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left navbar-top" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control input-search" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default input-search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
                <div class="nav navbar-nav navbar-right icon-profile">
                    <a routerLink="login"><i class="fa fa-share" aria-hidden="true"></i></a>
                </div>
                <div class="nav navbar-nav navbar-right icon-profile">
                    <a href="#" (click)="goToPreview($event)"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                </div>
                <div class="nav navbar-nav navbar-right icon-profile">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" preserveAspectRatio="xMinYMin meet">
                            <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none" />
                            <g class="currentLayer">
                                <title>Layer 1</title>
                                <g class="active-item" style="" id="svg_1" fill="#ffffff" fill-opacity="1">
                                    <path d="M2.9802322387695312e-8,10 H20.000000029802322 v6 a1,1 0 0 1 -1,1 H1.0000000298023224 a1,1 0 0 1 -1,-1 V10 zM20.000000029802322,5 v4 H2.9802322387695312e-8 V5 A1,1 0 0 1 1.0000000298023224,4 H5.000000029802322 V3 a3,3 0 0 1 3,-3 h4 a3,3 0 0 1 3,3 V4 h4 A1,1 0 0 1 20.000000029802322,5 zM13.000000029802322,3 a1,1 0 0 0 -1,-1 H8.000000029802322 A1,1 0 0 0 7.000000029802322,3 V4 h6 V3 z"
                                          id="svg_2" fill="#ffffff" fill-opacity="1" />
                                </g>
                                <g class="inactive-item" style="" id="svg_3" fill="#ffffff" fill-opacity="1">
                                    <path d="M18.918367378413677,4 H14.918367378413677 V3 a3,3 0 0 0 -3,-3 H7.918367378413677 A3,3 0 0 0 4.918367378413677,3 V4 H0.9183673784136772 A1,1 0 0 0 -0.08163262158632278,5 V16 a1,1 0 0 0 1,1 H18.918367378413677 a1,1 0 0 0 1,-1 V5 A1,1 0 0 0 18.918367378413677,4 zM6.918367378413677,3 a1,1 0 0 1 1,-1 h4 a1,1 0 0 1 1,1 V4 H6.918367378413677 V3 zM17.918367378413677,15 H1.9183673784136772 V10 H17.918367378413677 v5 zm0,-6 H1.9183673784136772 V6 H17.918367378413677 v3 z"
                                          id="svg_4" fill="#ffffff" fill-opacity="1" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="nav navbar-nav navbar-right icon-profile">
                    <a href="#" (click)="goToHome($event)"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>